.preview-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  text-align: left;
  color: rgb(9, 255, 0);
  margin-top: 10%;
  margin-bottom: 40px;
  background-color: rgb(54, 54, 54);
  border: 1px solid black;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.preview-container h6 {
  flex-basis: 100%;
  padding-left: 8px;
  margin-bottom: 8px;
  margin-top: 4px;
}

.preview-container :first-child {
  margin-top: 10px;
}

#preview {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  width: 600px;
  min-height: 250px;
  min-width: 300px;
  margin-top: 0;
  padding: 0 10px;
  background-color: rgb(214, 214, 214);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  word-wrap: break-word;
  overflow: auto;
}

h1 {
  border-bottom: 2px solid black;
}

h2 {
  border-bottom: 1px solid black;
}

pre,
code {
  background-color: rgb(255, 255, 255);
}

blockquote {
  border-left: 3px solid black;
  padding-left: 4px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid black;
  padding: 2px 5px;
}

@media only screen and (max-width: 600px) {
  .preview-container {
    margin-left: 25%;
    margin-right: 20%;
  }

  #preview {
    min-width: 300px;
  }
}
